# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android
android/.gradle
android/app/debug
android/app/profile
android/app/release
android/local.properties
android/key.properties
*.jks
*.keystore

# iOS
ios/.symlinks
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Pods/
ios/Runner.xcworkspace/xcshareddata/

# Coverage
coverage/

# IDEs
.idea/
.vscode/
*.iml
